<div class="product-card">
    <div class="product-card__top">
        <button class="product-card__favourite"></button>
        <a href="" class="product-card__img">
            <img src="img/product.webp" alt="">
        </a>
    </div>
    <div class="product-card__prices">
        <span class="product-card__price-new">3000 ₽</span>
        <span class="product-card__price-old">3000 ₽</span>
    </div>
    <a href="" class="product-card__title">Свитер оверсайз </a>
    <div class="product-card__colors">
        <span class="product-card__color" style="background: #FFFFFF;"></span>
        <span class="product-card__color" style="background: #C2FFD7;"></span>
        <span class="product-card__color" style="background: #FFC3C3;"></span>
    </div>
</div>